*{
    padding: 0;
    margin: 0;
    list-style: none;    
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.nav__content_h1{
font-style: normal;
font-weight: 400px;
font-size: 22px;
line-height: 38px;
text-transform: uppercase;
color: #333333;
transition: 0.5s;

}
.nav__content_h1:hover{
    color: red;
}




.nav__content_right{
    display: flex;
    gap: 35px;
}
.content__right_li{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #404040;
    align-items:center;
    transition: 0.5s;
}
.content__right_li:hover{
    color: red;

}


.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav__content_left{
    display: flex;
    align-items: center;
    gap: 35px;
}
.content__left_h1{
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    text-align: center; 
    text-transform: uppercase;
    color: #FFFFFF;

}
.blog{
    background: url(orqasi.png);
}
.left__h1_img{
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.h1__img_p{
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
}
.header__content_left{
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 100px 0;
}